*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #39297b;
    color: #fff;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    text-transform: capitalize;
}

#search-btn{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

#search-box{
    padding: 0.57rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;

}


.btn{
    padding: 0.57rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(164, 57, 57);
    color: #fff;
    margin-left: 0.2rem;
    transition: all 0.2s;
}

.btn:hover{
    background-color: red;
}

.footer{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }
#show-more-btn{
    background: #ff3929;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}
#show-more-btn:hover{
     background-color: #4a0c07;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.5;
    transition: all ease-in 1s;
}
  
#search-result img:hover {
    opacity: 1.0;
  }